*{
  margin: 0 auto;
  padding: 0;
  border-style: border-box;
  font-family:'Roboto';
}
body{
  background-color: #EDF0F5;
}
h1{
  margin: 2vmax 0;
  color:#EDF0F5;
  font-size: 5vmax;
}
.logo{
  background: url(logodev.png) center center / contain no-repeat;
  height: 6vmax;
  width: 6vmax;
}
.submit-form{
  height:10vmax;
  width:100%;
  margin:0px auto;
  display:flex;
  align-items: flex-end;;
}
.main-container {
  width: 100%;
}
.main-container h1 {
  text-align: center;
}
.text-box {
  width: 60%;
  font-size:2.5vmax;
  border-radius: 3px;
  height:3vmax;
  padding-left: 5px;
}
.title-container{
  padding:3vmax;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(https://images.unsplash.com/photo-1466096115517-bceecbfb6fde) center center / cover;
  text-align: center;
  box-shadow: 0px 2px 2px gray;
  z-index: 1000;
}
.messages-container{
  width:50%;
  padding: 2% 2%;
  margin-top: .5vmax;
  display:block;
  background-color: #EDF0F5;
  min-height: 500px;
  overflow: scroll;


}
.mc-sub{
  float:left;
  clear:both;
  display:flex;
  flex-flow: column;
  flex-wrap: nowrap;
  text-align: left;
  box-shadow: 0px 2px 2px gray;
  border-radius: 20px;
  background: white;
  margin: 1vh 0vh;
  width: fit-content;
  padding: 1vmax 1vmax;
}
.mc-sub-message{
  margin-left: 0;
  text-align:left;
  font-size: 2vmax;
}
.mc-sub-date{
  text-align:left;
  color:gray;
  font-size: 1vmax;
  margin-left: 0;
}
.blue {
  background-color: #3C5A53;
  color:white;
  text-align:right;
  float:right;
  clear:both;
}
.myMessage{
  text-align:right;
  margin-right: 0;
}
.myDate{
  margin-right: 0;
  text-align: right;
}
